*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background : linear-gradient(to right bottom , #8cc8fe , #d132bc);
}
#profile-card {
    position: relative;
    padding: 25px;
    border-radius: 15px;
    background: linear-gradient(to right bottom ,
    rgba(255 , 255 , 255 , 0.6) ,
    rgba(255 , 255 , 255 , 0.2));
}
.profile-image{
    height: 150px;
    width: 150px;
    margin: auto;
    margin-bottom: 8px;
    position: relative;
}
.profile-image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid rgb(93, 219, 25);
}
.profile-image::before {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    content: '';
    bottom: 5px;
    right: 10px;
    border: 3px solid;
    background: #2bd236;
}
h1.profile-name {
    text-align: center;
    color: #000000;
}
p.profession {
    text-align: center;
    color: #5a5055;
    font-size: 12px;
    opacity: 0.6;
    font-weight: 500;
}
.social {
    margin: 20px 0px;
    text-align: center;
}
.social a {
    background: white;
    color: #25283a;
    height: 35px;
    width: 35px;
    border-radius: 50%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 0px 5px;
    transition: 0.3s;
    box-shadow: 2px 2px 5px rgb(28 115 214 / 20%);
}
.facebook:hover {
    color: rgb(255, 255, 255);
    background: #3b5998;
}
.instagram:hover {
    color: white;
    background: linear-gradient(to top right , #feda77 ,#f58529 ,#dd217b ,#8134af ,#515bd4 );
}
.twitter:hover{
    color: white;
    background: #1DA1F2;
}
.telegram:hover {
    color: rgb(255, 255, 255);
    background: #0088cc;
}
.contact {
    text-align: center;
    margin-bottom: 20px;
}
.contact a {
    text-decoration: none;
    background: white;
    padding: 7px 15px;
    display: inline-block;
    border-radius: 3px;
    color: #25283a;
    font-weight: 500;
    box-shadow: 2px 2px 5px rgb(28 115 214 / 20%);
    transition: 0.3s;
}
a.message {
    color: white;
    background: #1b62c3;
    margin-right: 10px;
}
a.message:hover {
    background:#35c619;
}
a.subscribe:hover {
    background: #c4302b;
    color: white;
}
.achivement {
    display: flex;
    justify-content: space-between;
}
.react , .share , .comment {
    text-align: center;
    color: #25283a;
    font-size: 13px;
    cursor: pointer;
}
.three-dots {
    position:absolute ;
    display: inline-block;
    top: 0;
    right: 0;
    padding: 15px;
    cursor: pointer;
}
.three-dots i {
    color: #010000;
}
.arrow {
    position:absolute ;
    display: inline-block;
    top: 0;
    left: 0;
    padding: 15px;
    cursor: pointer;
}
.arrow i {
    color: #000000;
}